* {
  padding: 0;
  margin: 0;
  font-family: "SF", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  &-big {
    @media screen and (min-width: 1380px) {
      max-width: 100%;
      padding-right: 105px;
      padding-left: 105px;
    }
  }

  @media screen and (max-width: 1230px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
